<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.green.company.applyed.mapper.ApplyedMapper">
<select   id="getApplyedList" >
  SELECT
      PT.po_num   
  	, PT.po_title
  	, RE.re_title
    , RE.user_id
    , RE.re_num
    , AP.AP_DATE
    , AP.RESULT
    , AP.AP_ID
    , U.USER_NAME
  FROM  
      APPLY AP, RESUME RE, COMPANY CP, POST PT, USERS U
  WHERE
      CP.COM_ID = #{ com_id }
  AND
      CP.COM_ID = PT.COM_ID
  AND
      PT.PO_NUM = AP.PO_NUM
  AND
      AP.RE_NUM = RE.RE_NUM
  AND
      RE.USER_ID = U.USER_ID
  ORDER BY
      AP.AP_ID ASC
</select>

	<select id="KgetCheckApplyedList">
		SELECT
		PT.po_num
		, PT.po_title
		, RE.re_title
		, RE.user_id
		, RE.re_num
		, AP.AP_DATE
		, AP.RESULT
		, CP.com_id
		, AP.AP_ID
		FROM
		APPLY AP, RESUME RE, COMPANY CP, POST PT
		WHERE
		CP.COM_ID = #{ arg4 }
		AND
		CP.COM_ID = PT.COM_ID
		AND
		PT.PO_NUM = AP.PO_NUM
		AND
		AP.RE_NUM = RE.RE_NUM
		AND
		AP.AP_ID = #{ arg0 }
	</select>

	<update id="KupdateStatus">
		UPDATE
		APPLY
		SET
		RESULT = #{ arg1 }
		WHERE
		RE_NUM = #{ arg0 }
		AND
		PO_NUM = #{ arg2 }
	</update>
	

<select id="KgetofferedList">
    SELECT
      O.OF_ID,
      O.RE_NUM,
      O.PO_NUM,
      C.COM_NAME,
      P.PO_TITLE,
      O.OF_DATE,
      R.RE_TITLE,
      O.RESULT
    FROM
      OFFER O, POST P, RESUME R, COMPANY C, USERS U
    WHERE
      R.USER_ID = #{ arg1 }
    AND
      O.RE_NUM = R.RE_NUM
    AND
      O.PO_NUM = P.PO_NUM
    AND
      R.USER_ID = U.USER_ID
    AND
      P.COM_ID = C.COM_ID
    ORDER BY
      O.OF_ID ASC
  </select>


<select id="KgetCheckOfferedList">
  SELECT
      P.PO_NUM   
  	, P.PO_TITLE
  	, R.RE_TITLE
    , R.USER_ID
    , R.re_num
    , O.OF_DATE
    , O.RESULT
    , O.OF_ID
    , P.COM_ID
  FROM  
      OFFER O, RESUME R, USERS U, POST P
  WHERE
      U.USER_ID = #{ arg1 }
  AND
      U.USER_ID = R.USER_ID
  AND
      P.PO_NUM = O.PO_NUM
  AND
      O.RE_NUM = R.RE_NUM
  AND
      O.OF_ID = #{ arg0 }
</select>


<update id="KupdateOfferStatus">
  UPDATE
    OFFER
  SET
    RESULT = #{ arg1 }
  WHERE
    RE_NUM = #{ arg0 }
  AND
    PO_NUM = #{ arg2 }
</update>
	

</mapper>

