<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.users.apply.mapper.ApplyMapper">
<resultMap type="java.util.HashMap" id="getUserMap">
	<result property="com_name" column="com_name"/>
	<result property="user_id" column="user_id"/>
	<result property="po_title" column="po_title"/>
	<result property="career" column="career"/>
	<result property="re_num" column="re_num"/>
	<result property="ap_date" column="ap_date"/>
	<result property="result" column="result"/>
</resultMap>
  <select id="getInfo">
  	SELECT 
  	    USER_ID,
				USER_NAME,
				USER_PW,
				USER_TELL,
				USER_BIRTH,
				USER_ADR,
				USER_DATE
		FROM USERS
		WHERE USER_ID = #{user_id}
  </select>
  <select   id="getApplyList" >
    SELECT
  	   CP.COM_NAME   
  	 , AP.PO_NUM
  	 , PT.CAREER
  	 , PT.REGION
     , AP.RE_NUM
     , AP.RE_TITLE
     , AP.PO_TITLE
     , AP.RESULT
     , AP.AP_DATE
     , AP.AP_ID
   FROM  
       APPLY AP, RESUME RE, COMPANY CP, POST PT
   WHERE
       RE.USER_ID = #{ user_id }
     AND
       AP.RE_NUM = RE.RE_NUM
     AND
       AP.PO_NUM = PT.PO_NUM
     AND
       PT.COM_ID = CP.COM_ID
   ORDER BY
       AP.AP_ID ASC
  </select>
  <!-- <insert id="insertResumeApply" parameterType="com.green.users.resume.domain.ResumeVo"> -->
  <insert id="insertResumeApply" parameterType="com.green.users.apply.domain.ApplyVo">
      INSERT INTO APPLY (
      	  AP_ID,
	      PO_NUM,
		  RE_NUM,
		  RE_TITLE,
		  PO_TITLE,
		  RESULT
	  ) VALUES (
	  	  NVL((SELECT MAX(AP_ID) FROM APPLY), 0) + 1,
		  #{ po_num },
	 	  #{ re_num },
		  #{ re_title },
		  #{ po_title },
		  #{ result }
	  )
  </insert>
    <insert id="KinsertPostOffer">
    INSERT INTO OFFER (
      	  OF_ID,
	      PO_NUM,
		  RE_NUM,
		  RE_TITLE,
		  PO_TITLE,
		  RESULT
	  ) VALUES (
	  	  NVL((SELECT MAX(OF_ID) FROM OFFER), 0) + 1,
		  #{ po_num },
	 	  #{ re_num },
		  #{ re_title },
		  #{ po_title },
		  #{ result }
	  )
  </insert>
  
</mapper>