<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.community.mapper.CommunityMapper">
	<select id="getCBoardPagingList">
		SELECT  
    	    CCM.ccomu_bno
    	  , CCM.ccomu_title 
    	  , CCM.COM_ID    	  
    	  , CCM.CCOMU_HIT
    	  , CCM.CCOMU_DATE
    FROM  
     		  C_COMMUNITY CCM
   
    ORDER BY  ccomu_bno DESC
	</select>
	<select id="getMycommunityVo">
		SELECT  
    	    CCM.ccomu_bno
    	  , CCM.ccomu_title 
    	  , CCM.COM_ID    	  
    	  , CCM.CCOMU_HIT
    	  , CCM.CCOMU_DATE
    FROM  
     		  C_COMMUNITY CCM
   WHERE CCM.COM_ID = #{com_id}
   ORDER BY  ccomu_bno DESC
	</select>
	<select id="getcommunityVo">	
		SELECT  
    	    CCM.ccomu_bno
    	  , CCM.ccomu_title 
    	  , CCM.COM_ID    	
    	  , CCM.CCOMU_CONTENT  
    	  , CCM.CCOMU_HIT
    	  , CCM.CCOMU_DATE
    	  
    FROM  
     		  C_COMMUNITY CCM
   	WHERE 
    	CCM.CCOMU_BNO = #{ccomu_bno}
	</select>
	
	<select id="getCBoardCommentList">
		SELECT  
    	   CMM.CCOMU_BNO
        ,CMM.CCOMM_ID
        ,CMM.CCOMM_BODY
        ,CMM.COM_ID
        ,CMM.CCOMU_GOOD
    FROM  
     		  C_COMMENTS CMM
   	WHERE 
    	CMM.CCOMU_BNO = #{ccomu_bno}
    order by 
        CCOMM_ID asc
	</select>
	
	<update id="incHit">
    	UPDATE C_COMMUNITY
    	SET CCOMU_HIT = ccomu_hit + 1
    	WHERE ccomu_bno = #{ccomu_bno} 
    </update>
	
	<insert id="insertBoard">
		 INSERT INTO C_COMMUNITY (
     CCOMU_BNO
    ,CCOMU_TITLE
    ,CCOMU_CONTENT
    ,COM_ID
)   VALUES (
    ( SELECT (NVL(MAX(CCOMU_BNO), 0)+1) FROM C_COMMUNITY ),
    #{ ccomu_title },
    #{ ccomu_content },
    #{ com_id }   
)
	</insert>
	<insert id="insertComment">
		insert into C_COMMENTS(
		    CCOMU_BNO,
		    CCOMM_ID,
		    CCOMM_BODY,
		    COM_ID,
		   	CCOMU_GOOD
		)
		values (
		    #{ccomu_bno},
		    (SELECT (NVL(MAX(CCOMM_ID), 0)+1) FROM C_COMMENTS ),
		    #{ccomm_body},
		    #{com_id},
		    0 
		)
	</insert>
<!-- 현재 사용자가 댓글에 좋아요를 눌렀는지 확인 -->
   <select id="isCommentLiked" resultType="int">
		    SELECT COUNT(*)
		    FROM C_COMMENTS_LIKE
		    WHERE CCOMU_BNO = #{ccomu_bno} AND CCOMM_ID = #{ccomm_id} AND COM_ID = #{com_id}
		</select>
   
   <!-- 댓글의 좋아요 수 증가 -->
   <update id="incrementLikeCount">
	    UPDATE C_COMMENTS
	    SET CCOMU_GOOD = CCOMU_GOOD + 1
	    WHERE CCOMU_BNO = #{ccomu_bno} AND CCOMM_ID = #{ccomm_id}
	</update>
   
   <!-- 댓글의 좋아요 수 감소 -->
   <update id="decrementLikeCount">
       UPDATE C_COMMENTS
       SET CCOMU_GOOD = ccomu_good - 1
       WHERE CCOMU_BNO = #{ccomu_bno} AND CCOMM_ID = #{ccomm_id}
   </update>
   
   <!-- 사용자가 댓글에 좋아요를 눌렀음을 기록 -->
   <insert id="addCommentLike">
    INSERT INTO C_COMMENTS_LIKE (COMMENT_LIKE_BNO, CCOMU_BNO, CCOMM_ID, COM_ID)
    VALUES (
    (SELECT (NVL(MAX(COMMENT_LIKE_BNO), 0)+1) FROM C_COMMENTS_LIKE ),
    #{ccomu_bno}, #{ccomm_id}, #{com_id})
	</insert>
   
   <!-- 사용자가 댓글에 눌렀던 좋아요를 취소 -->
   <delete id="removeCommentLike">
	    DELETE FROM C_COMMENTS_LIKE
	    WHERE CCOMU_BNO = #{ccomu_bno} AND CCOMM_ID = #{ccomm_id} AND COM_ID = #{com_id}
	</delete>
	<!-- 본인 게시물 업데이트 -->
	<update id="updateBoard">
		 UPDATE  C_COMMUNITY
     SET    CCOMU_TITLE    =  #{ccomu_title},
            CCOMU_CONTENT   =  #{ccomu_content}
     WHERE  CCOMU_BNO      =  #{ccomu_bno}
	</update>
	<delete id="deleteBoard">
	  DELETE C_COMMUNITY
	  WHERE CCOMU_BNO = #{ccomu_bno}
	</delete>
</mapper>