<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.company.mapper.CompanyMapper">
	
	<select id="LgetCom">
 	 SELECT 
		COM_ID,
		COM_PW,
		COM_NAME,
		COM_NUM,
		COM_BOSS,
		COM_ADR,
		COM_TELL,
		COM_DATE
   	FROM
      COMPANY
 	WHERE  COM_ID = #{com_id}
	
	</select>
	<select id="LgetCompany">
	 SELECT 
		COM_ID,
		COM_PW,
		COM_NAME,
		COM_NUM,
		COM_BOSS,
		COM_ADR,
		COM_TELL,
		COM_DATE
   	FROM
      COMPANY
 	WHERE  COM_ID = #{com_id}
	
	</select>
	<select id="LgetComView">
	SELECT 
		COM_ID,
		COM_PW,
		COM_NAME,
		COM_NUM,
		COM_BOSS,
		COM_ADR,
		COM_TELL,
		COM_DATE
   	FROM
      COMPANY
 	WHERE  COM_ID = #{com_id}
	</select>
	<select id="LCheckGetCom_id">
	SELECT 
		COM_ID,
		COM_PW,
		COM_NAME,
		COM_NUM,
		COM_BOSS,
		COM_ADR,
		COM_TELL,
		COM_DATE
   	FROM
      COMPANY
 	WHERE  COM_ID = #{com_id}
	</select>
	
	  <select id="KgetPost">
  
    SELECT 
	  PO_NUM,
	  COM_ID,
	  PO_TITLE,
	  SKILL,
	  CAREER,
	  REGION,
	  PO_QUAL,
	  PO_CONTENT,
	  PO_IMAGE
	FROM
	  POST
	WHERE
	  PO_NUM = #{ po_num }
	</select>
		<select id="Pgeteditcompany">
		SELECT
		COM_ID,
		COM_PW,
		COM_NAME,
		COM_NUM,
		COM_BOSS,
		COM_ADR,
		COM_TELL,
		COM_DATE
		FROM
		COMPANY
		WHERE
		COM_ID = #{ com_id }

	</select>
	<update id="PupdateCInfo">
		UPDATE COMPANY
		SET
		COM_ID = #{ com_id },
		COM_PW = #{ com_pw },
		COM_NAME = #{ com_name},
		COM_NUM = #{ com_num },
		COM_BOSS = #{ com_boss },
		COM_ADR = #{ com_adr },
		COM_TELL = #{ com_tell },
		COM_DATE = #{ com_date }
		WHERE
		COM_ID = #{com_id}
	</update>
	
	<delete id="PCInfoDelete">
		DELETE
		FROM COMPANY
		WHERE COM_ID = #{com_id}
	</delete>
	
	
	<select id="KgetCompanyInfoList">
	
	  SELECT
	    COM_ID,
		COM_NAME,
		COM_NUM,
		COM_BOSS,
		COM_ADR,
		COM_TELL,
		COM_DATE
	  FROM
	    COMPANY
	  WHERE
	    COM_ID = #{ com_id }
	
	</select>
	
	
	<select id="KgetRating">
	  SELECT
	    RATING
	  FROM
	    (
	      SELECT
	        RATING
	      FROM
	        COMRATINGS
	      WHERE
	    	USER_ID = #{ arg0 }
	  	  AND
	    	COM_ID = #{ arg1 }
	  	  ORDER BY
	    	RATING_ID DESC
	    )
	  WHERE
	    ROWNUM = 1
	</select>
	
	<insert id="KaddRating">
	  INSERT
	    INTO COMRATINGS (
	    COM_ID,
	    USER_ID,
	    RATING_ID,
	    RATING
	  )
	  VALUES (
	    #{ arg0 },
	    #{ arg1 },
	    NVL((SELECT MAX(RATING_ID) FROM COMRATINGS), 0) + 1,
	    #{ arg2 }
	  )
	</insert>
	
	<update id="KupdateRating">
	  UPDATE
	    COMRATINGS
	  SET
	    RATING = #{ arg2 }
	  WHERE
	    USER_ID = #{ arg1 }
	  AND
	    COM_ID = #{ arg0 }
	</update>
	
</mapper>
